<%- include ("_partial/_header.ejs"); %>

    <div align="center">
        <h1>Hello World</h1>

        <p id="p1">This is the default text.</p>

        <p>Bye</p>
    </div>

    <script>

        ;(async () => {
            const url = getLocation();

            const temp = await getTemperature(url);
            console.log(temp);

            if (temp > 20) {
                document.getElementById('p1').innerHTML ="Don't need a coat mate it's "+temp;
            } else if (temp < 20) {
                document.getElementById('p1').innerHTML ="Bring a coat mate it's "+temp;
            }
        })()

        async function getData(url) {
            const response = await fetch(url);

            return response.json();
        }

        async function getTemperature(url){
            const average = array => array.reduce((a, b) => a + b) / array.length;

            const data = await getData(url);
            const avg = average(data.hourly.temperature_2m);
            return avg;
        }

        async function isRainy(url){
            const data = await getData(url);
            
            //TODO
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    console.log(position.coords.latitude + " " + position.coords.longitude);
                    return `https://api.open-meteo.com/v1/forecast?latitude=${position.coords.latitude}&longitude=${position.coords.longitude}&hourly=temperature_2m,precipitation&forecast_days=1`;
                });
            } else {
                //Returns defualt geolocation set to London's (52.52, -0.12)
                console.log("Geolocation could not be accessed. Using defualt values.");
                return `https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=-0.12&hourly=temperature_2m,precipitation&forecast_days=1`;
            }
        }

    </script>

<%- include ("_partial/_footer.ejs"); %>
