<%- include ("_partial/_header.ejs"); %>

    <div>
        <h1>Do you need to wear your coat out?</h1>

        <p id="message">Please wait, Getting the Data.</p>

        <p>Bye</p>
    </div>

    <script type="text/javascript" src="/coat.js"></script>

<%- include ("_partial/_footer.ejs"); %>
