<%- include ("_header.ejs"); %>

    <h1>Hello World</h1>

    <p id="p1">This is the default text.</p>

    <p>Bye</p>

    <script>

        var url = 'https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,precipitation&forecast_days=1';
        const average = array => array.reduce((a, b) => a + b) / array.length;

        async function getData(url) {
            const response = await fetch(url);

            return response.json();
        }

        async function getTemperature(){
            const data = await getData(url);
            const avg = average(data.hourly.temperature_2m);
            return avg;
        }

        ;(async () => {
            const da = await getTemperature();
            console.log(da);

            if (da > 20) {
                document.getElementById('p1').innerHTML ="Don't need a coat mate it's "+da;
            } else if (da < 20) {
                document.getElementById('p1').innerHTML ="Bring a coat mate it's "+da;
            }
        })()

    </script>

<%- include ("_footer.ejs"); %>
